@tailwind base;
@tailwind components;
@tailwind utilities;

.pl{
  padding-left: 5%;
}
.py-px{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 09%;
  padding-right: 09%;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}
.coolfont {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

.vt323h {
  font-family: "VT323", monospace;
  font-weight: 10;
  font-style: normal;
}
.vt323 {
  font-family: "VT323", monospace;
  font-weight: 1000;
  font-style: normal;
}
.h-nav{
  height: 20%;
  padding-left: 5%;
  padding-top: 0.75%;
  padding-right: 3%;
}
.devi{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: 0%;
}
.item {
  width: 65%;
  overflow: visible;
  stroke: #252422;
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.app2{
  background-image: repeating-linear-gradient(90deg, rgba(249,249,249, 0.16) 0px, rgba(249,249,249, 0.16) 1px,transparent 1px, transparent 104px),repeating-linear-gradient(0deg, rgba(249,249,249, 0.16) 0px, rgba(249,249,249, 0.16) 1px,transparent 1px, transparent 104px),repeating-linear-gradient(0deg, rgba(255,255,255, 0.12) 0px, rgba(255,255,255, 0.12) 1px,transparent 1px, transparent 52px),repeating-linear-gradient(90deg, rgba(255,255,255, 0.12) 0px, rgba(255,255,255, 0.12) 1px,transparent 1px, transparent 52px),linear-gradient(45deg, rgb(0,4,7),rgb(0,4,7));
}
.ralewaydots{
  font-family: "Raleway Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sourcecodepro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.ibm-plex{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plexregular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 250;
  font-style: normal;
}

.ibm-plexmid{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}
.ubuntu{
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.pp{
   background-image: url("./assets/5e41e73ec2af60cf5cc94e67_website landing.png");
  background-repeat: no-repeat;
  background-size:cover;
}
