@tailwind base;
@tailwind components;
@tailwind utilities;

.pl{
  padding-left: 5%;
}
.py-px{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 09%;
  padding-right: 09%;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vt323h {
  font-family: "VT323", monospace;
  font-weight: 10;
  font-style: normal;
}
.vt323 {
  font-family: "VT323", monospace;
  font-weight: 1000;
  font-style: normal;
}
.app{
  background-image: url("/future-grid.a0cd4189.webp");
  background-repeat: no-repeat;
  background-size: cover;
}